<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <title>Create New User</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
</head>
<body>
    <div class="container1">
        <img src="/static/imag/google-logo.png " class="glogo">
        <h3 class="create">Create New Account</h3>
        <form method="post">
           <input type="text" placeholder="User Name" name="name">
           <input type="text" placeholder="Email" required name="Email">
           <input type="password" placeholder="Create New Password" required name="Password">
           <input type="password" placeholder="Conform Password" required name="Password">
           <button type="submit">Sign Up</button>
    
            
        </form>
    </div>
</body>
</html>